<% provide(:title, t(".help")) %>
<h1><%= t ".heading" %></h1>
<p>
  <%= t ".paragraph" %>
  <a href="#"><%= t ".hyperlink" %></a>
  <%= t ".last_paragraph" %>
  <a href="#"><em><%= t ".emphasized" %></em><%= t ".last_hyperlink" %></a>
</p>
