<% provide(:title, t(".home")) %>
<div class="<%= t(".class") %>">
  <h1><%= t(".heading") %></h1>
  <h2>
    <%= t(".paragraph") %>
    <a href="#"><%= t(".hyperlink") %></a>
    <%= t(".last_paragraph") %>
  </h2>
  <%= link_to t(".link"), signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag( "/assets/rails.png", alt: "Rails logo"),
  "http://rubyonrails.org/" %>
