<% provide(:title, @user.name) %>
<div class=<%= t(".row") %>>
  <aside class=<%= t(".col") %>>
    <section class=<%= t(".info") %>>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
   <div class="<%= t(".col") %>">
    <% if @user.microposts.any? %>
      <h3><%= t(".headding") %> (<%= @user.microposts.count %>)</h3>
      <ol class="<%= t(".class") %>">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
