<% provide(:title, @title) %>
<div class="<%= t(".row") %>">
  <aside class="<%= t(".col_4") %>">
    <section class="<%= t(".info") %>">
      <%= gravatar_for @user %>
      <h1><%= @user.name %></h1>
      <span><%= link_to t(".view"), @user %></span>
      <span><b>Microposts:</b> <%= @user.microposts.size %></span>
    </section>
    <section class="<%= t(".stats") %>">
      <%= render "shared/stats" %>
      <% if @users.any? %>
        <div class="<%= t(".avatar") %>">
          <% @users.each do |user| %>
            <%= link_to gravatar_for(user, size: Settings.avatar.size), user %>
          <% end %>
        </div>
      <% end %>
    </section>
  </aside>
  <div class="<%= t(".col_8") %>">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="<%= t(".follow") %>">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>
